.details-container{
display:flex;
gap:40px;
align-items:flex-start;
background:#fff;
padding:30px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.details-image{
flex:1;
text-align:center;
}

.details-info{
flex:1;
}

.details-image img{
width:100%;
max-width:450px;
height:450px;
object-fit:cover;
border-radius:15px;
display:block;
}



.details-info h1{
    margin-bottom:15px;
}

.details-price{
    font-size:30px;
    color:#6C4CF1;
    font-weight:bold;
    margin:20px 0;
}

.quantity-box{
    margin:20px 0;
}

.quantity-box input{
    width:80px;
    padding:10px;
}

@media(max-width:768px){

    .details-container{
        flex-direction:column;
    }
}
.details-actions{
    margin-top:20px;
    display:flex;
    gap:15px;
}

.btn-secondary{
    background:#555;
    color:white;
    text-decoration:none;
    padding:12px 25px;
    border-radius:25px;
}
.details-actions{
    margin-top:20px;
    display:flex;
    gap:15px;
    align-items:center;
}

.btn-secondary{
    display:inline-block;
    text-decoration:none;
    background:#555;
    color:white;
    padding:12px 25px;
    border-radius:25px;
    transition:0.3s;
}

.btn-secondary:hover{
    background:#333;
}